<div class="login_section">
    <form class="w-100" [formGroup]="resetPasswordGrp"
        (ngSubmit)="resetPasswordGrp.valid ? resetPassword(resetPasswordGrp.value) : commonService.markFormGroupTouched(resetPasswordGrp)">
        <div class="icon_box">
            <div>
                <img src="assets/images/password.png" alt="">
            </div>
        </div>
        <div class="login_text ">Reset Password</div>
        <div class="text-center pb-1">Please enter your new password</div>
        <div class="input-container form-group">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input readonly formControlName="mail" matInput type="text" autocomplete="true">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input formControlName="password" matInput type="password" autocomplete="true">
                <mat-error *ngIf="(resetPasswordGrp.get('password').invalid && resetPasswordGrp.get('password').touched)">{{getErrorMessage('pass')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input formControlName="cPassword" matInput type="password" autocomplete="true">
                <mat-error *ngIf="(resetPasswordGrp.get('cPassword').invalid && resetPasswordGrp.get('cPassword').touched)">{{getErrorMessage('cPass')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="input-container">
            <button class="login_btn">Send</button>
        </div>
    </form>
</div>