<div *ngIf="showLogin">
    <router-outlet></router-outlet>
</div>
<div class="login_main" *ngIf="!showLogin">
    <div class="container">
        <div class="row login_row">
            <div class="col-md-6 col-xs-12 image_div">
                <img class="img_custem"
                    src="assets/images/Keel Systems logo_rgb_ black background_large 1.png" alt="">
            </div>
            <div class="col-md-6 col-xs-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
