@import '../../../shared/scss/default_variables.scss';
.login_section {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  height: 100%;
  form{
    width: 60%;
  }
  .login_text {
    color: #3a3a3a;
    font-size: 30px;
    font-weight: 500;
  }
  .input-container {
    margin-top: 1.2rem;
    mat-form-field{
      width: 100%;
      ::ng-deep{
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above{
          --mat-mdc-form-field-label-transform:translateY( -22.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
          color:$primary-color;
        }
        .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
          position: absolute;
          top: 11px !important;
          font-size: 14px;
        }
        .mat-mdc-form-field-error-wrapper{
          top: -3px;
          left: 3px;
          padding: 0;
        }
        .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
          top: 15px !important;
          font-size: 13px !important;
        }
        .mat-mdc-text-field-wrapper{
          height: 40px !important;
        }
        .mat-mdc-input-element{
          top: -10px !important;
          position: relative;
        }
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing{
          border-color: $secondary-color;
          border-width: 1px;
        }
      }
    }
  }
  .login_btn {
    width: 100%;
    height: 2.5rem;
    border-radius: 6px;
    background-color: $primary-color;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    border: none;
  }
  .forgotDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .checkbox{
      display: flex;
      align-items: flex-end;
      font-size: 14px !important;
      ::ng-deep{
        .mat-mdc-checkbox .mdc-checkbox{
          padding-bottom: 10px !important;
        }
        .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
          background-color: $primary-color;
          border: 1px solid $primary-color;
        }
        .mat-mdc-checkbox label  {
          color: #676C6F !important;
        }
        .mdc-checkbox{
          padding-right: 0 !important;
        }
        .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
          background-color: $primary-color;
          border: 1px solid $primary-color;
        }
        .mat-ripple{
          display: none;
        }
      }
  }
    .Forgot_txt {
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 500;
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
  
  
}

::ng-deep{
  .mat-mdc-checkbox label  {
    color: #3a3a3a !important;
  }
  .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
    border-color: #CED4DA !important;
    width: 15px !important;
    height: 15px !important;
  }.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:disabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
    border-color: #CED4DA !important;
    width: 15px !important;
    height: 15px !important;
  }
  .mdc-checkbox__ripple{
    display: none;
  }
   .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background{
    width: 15px !important;
    height: 15px !important;
  }
  .mdc-list-item__primary-text{
    font-size: 13px !important;
  }
}