<div class="popupParent">
    <h4 mat-dialog-title class="modal-header text-center">
        <span class="header_text">
             Update password
        </span>
        <mat-icon class="close" matTooltip="close" (click)="closeDialog()" matDialogClose>close</mat-icon>
    </h4>
    <form>
        <div class="container"> 
            <form [formGroup]="UpdatePasswordGrp" (ngSubmit)="UpdatePasswordGrp.valid ? addUpdateSite(UpdatePasswordGrp.getRawValue()) : commonService.markFormGroupTouched(UpdatePasswordGrp)" class="row inpu_field_box">
                <div class="col-12 pb-2">
                    <div class="p-0">
                        <mat-form-field appearance="outline">
                            <mat-label>Current Password</mat-label>
                            <input matInput type="password" formControlName="oldPassword">
                            <mat-error style="line-height: 10px;" *ngIf="(UpdatePasswordGrp.get('oldPassword').invalid && UpdatePasswordGrp.get('oldPassword').touched)">{{getErrorMessage('oldPassword')}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-12 pb-2">
                    <div class="p-0">
                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput type="password" formControlName="newPassword">
                            <mat-error style="line-height: 10px;" *ngIf="(UpdatePasswordGrp.get('newPassword').invalid && UpdatePasswordGrp.get('newPassword').touched)">{{getErrorMessage('newPassword')}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-12 pb-2">
                    <div class="p-0">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" formControlName="confirmNewPassword">
                            <mat-error style="line-height: 10px;" *ngIf="(UpdatePasswordGrp.get('confirmNewPassword').invalid && UpdatePasswordGrp.get('confirmNewPassword').touched)">{{getErrorMessage('confirmNewPassword')}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="col-12 add_btn_box">
                    <button type="button" class="cancel_btn" (click)="closeDialog()">Cancel</button>
                    <button type="submit" class="add_btn">Update Password</button>
                </div>
            </form>
        </div>
    </form>
<div>
