<div class="login_section">
    <form [formGroup]="forgetPassword"
    (ngSubmit)="forgetPassword.valid ? forgotPassword(forgetPassword.value) : commonService.markFormGroupTouched(forgetPassword)">
        <div class="icon_box">
            <div>
                <img src="assets/images/password.png" alt="">
            </div>
        </div>
        <div class="login_text">Forgot password</div>
        <div class="text-center">Please enter your email address for verification</div>
        <div class="input-container form-group">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="mail" type="text" autocomplete="true">
            </mat-form-field>
        </div>
        <div class="input-container">
            <button class="login_btn">Send</button>
            <span class="Forgot_txt" [routerLink]="['/login']">Back to log in</span>
        </div>
    </form>
</div>