@import "../../../../shared/scss/default_variables.scss";

.add_btn_box{
  padding: 13px;
}
.inpu_field_box {
  padding-top: 10px;
  mat-form-field{
    width: 100%;
    ::ng-deep{
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above{
        --mat-mdc-form-field-label-transform:translateY( -22.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
        color:$primary-color;
      }
      .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
        position: absolute;
        top: 11px !important;
        font-size: 14px;
      }
      .mat-mdc-form-field-error-wrapper{
        top: -3px;
        left: 3px;
        padding: 0;
      }
      .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
        top: 15px !important;
        font-size: 13px !important;
      }
      .mat-mdc-text-field-wrapper{
        height: 40px !important;
      }
      .mat-mdc-input-element{
        top: -10px !important;
        position: relative;
      }
      .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
      .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
      .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing{
        border-color: $secondary-color;
        border-width: 1px;
      }
      .mat-mdc-form-field-subscript-wrapper{
        height: 5px !important;
      }
      .mat-mdc-select-value{
        position: relative;
        top: -9px;
      }
      .mat-mdc-select-arrow{
        top: -9px;
      }
      .mdc-list-item__primary-text{
        font-size: 13px !important;
      }
    }
  }
}

::ng-deep{
  .mdc-list-item__primary-text{
    font-size: 13px !important;
  }
}
.siteLeaderPad{
  @-moz-document url-prefix() {
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
      padding-top: 7px; /* Adds padding only for Firefox */
    }
  }
}



