@import '../../../../shared/scss/default_variables.scss';


.forAdd{
  ::ng-deep .mat-mdc-tab-body {
    min-height: 389px !important;
    max-height: 389px !important;
    overflow-y: auto;
  }
}
.forUpdate{
  ::ng-deep .mat-mdc-tab-body {
    min-height: 359px !important;
    max-height: 359px !important;
    overflow-y: auto;
  }
}

::ng-deep{
  //p-tab
  .mat-mdc-tab-body{
    padding-top: 20px;
  }
    .mat-mdc-tab.mdc-tab {
        font-size: 13px !important;
        height: 30px !important;
    }
    .mat-mdc-tab-labels{
        padding-top: 5px;
    }
    .mdc-tab--active {
        font-weight: bold; 
    }
    .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label{
      color: $primary-color ;
      font-size: 13px;
    }
    .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline{
      border-color: $primary-color ;
    }
    .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab{
      flex-grow: 1 !important;
    }

    //material-checkbox
  .mat-mdc-checkbox label  {
    color: #676C6F !important;
  }
  .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
    border-color: #CED4DA !important;
    width: 15px !important;
    height: 15px !important;
  }.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:disabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
    border-color: #CED4DA !important;
    width: 15px !important;
    height: 15px !important;
  }
  .mdc-checkbox__ripple{
    display: none;
  }
   .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background{
    width: 15px !important;
    height: 15px !important;
  }
  .mdc-list-item__primary-text{
    font-size: 13px !important;
  }
}

.inpu_field_box {
  padding-top: 10px;
  mat-form-field{
    width: 100%;
    ::ng-deep{
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above{
        --mat-mdc-form-field-label-transform:translateY( -22.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
        color:$primary-color;
      }
      .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
        position: absolute;
        top: 11px !important;
        font-size: 14px;
      }
      .mat-mdc-form-field-error-wrapper{
        top: -3px;
        left: 3px;
        padding: 0;
      }
      .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
        top: 15px !important;
        font-size: 13px !important;
      }
      .mat-mdc-text-field-wrapper{
        height: 40px !important;
      }
      .mat-mdc-input-element{
        top: -10px !important;
        position: relative;
      }
      .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
      .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
      .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing{
        border-color: $secondary-color;
        border-width: 1px;
      }
      .mat-mdc-form-field-subscript-wrapper{
        height: 5px !important;
        width: 326px;
      }
      .mat-mdc-select-value{
        position: relative;
        top: -9px;
      }
      .mat-mdc-select-arrow{
        top: -9px;
      }
    }
  }
      .checkbox{
          display: flex;
          align-items: flex-end;
          ::ng-deep{
            .mat-mdc-checkbox .mdc-checkbox{
              padding-bottom: 10px !important;
            }
            .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
              background-color: $primary-color;
              border: 1px solid $primary-color;
            }
          }
            
      }
      .checkbox{
        padding-left: 22px !important;
        height: 38px;
      .createAccCheckBox{
        mat-checkbox{
          color: #4F4F4F;
          font-size: 13px;
          font-weight: 700;
        }
        div{
          color: #4F4F4F;
          font-size: 9px;
          font-weight: 400;
        }
      }
    }
      
  }
  
  @media only screen and (min-width: 1024px) {
    .inpu_field_box {
      div:nth-child(odd) {
        padding-left: 2rem;
      }
      div:nth-child(even) {
        padding-right: 2rem;
      }
    }
    .add_btn_box{
      padding-right: 2rem;
    }
  }
  @media only screen and (min-width: 600px) {
    .add_btn_box{
      padding-right: 1rem;
    }
  }
  
  .file-upload {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    .text {
      margin: 1.5rem;
      display: flex;
      align-items: center;
      color: #4f4f4f;
      font-size: 0.75rem;
      font-weight: 500;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      width: 5rem;
      stroke-width: 1px;
      height: 5rem;
      border: 1px solid #dadada;
    }
    #file-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
  
  .after-upload {
    border-radius: 50%;
    width: 5.1875rem;
    height: 5.1875rem;
    width: 100%;
    height: 100%;
  }
  
  
  .record_table {
    ::ng-deep .p-datatable>.p-datatable-wrapper{
      overflow:hidden;
    }
    background-color: #FDFDFD;
    .record_td{
      // width: 40%;
      span{
        font-size: 12px;
      }
    }
    tr>th:nth-child(2){
      width: 55%;
    }
    tr>th {
      border: 1px solid #BBC5CB;
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
      color: black;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5rem;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  
    tr>td {
      color: #5E6366;
      font-size: 12px;
      font-weight: 400;
      padding-top: 3px;
      padding-bottom: 3px;
      img{
        cursor: pointer;
        height: auto;
        width: 26px;
      }
    }
  
  ::ng-deep{
    .p-checkbox {
      vertical-align: text-top;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover{
      border-color: $primary-color !important ;
    }
    .p-checkbox .p-checkbox-box.p-highlight {
      border-color: $primary-color !important;
      background-color: $primary-color !important;;
    }
    .p-checkbox .p-checkbox-box{
      width: 15px;
      height:  15px;
      border-radius: 0;
    }
  }
.custom-date-input {
  display: flex;
  align-items: center;
  mat-form-field{
    padding-top: 5px;
    ::ng-deep{
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above{
        --mat-mdc-form-field-label-transform:translateY( -22.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
        color:$primary-color;
      }
      .mat-mdc-form-field-error-wrapper{
        top: -3px;
        left: 3px;
        padding: 0;
      }
      .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
        top: 15px !important;
        font-size: 13px !important;
      }
      .mat-mdc-text-field-wrapper{
        height: 27px !important;
        width: 129px !important;
        background-color: #F4F4F4;
      }
      .mat-mdc-input-element{
        top: -13px !important;
        left: -10px;
        position: relative;
        color: #000000cc;
        font-size: 13px;
      }
      .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder{
        color: #AFAFAF; 
      }
      .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
      .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
      .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing{
        border: none;
      }
      .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
      .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
      .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing{
        border: none;
      }
      .mdc-text-field--outlined{
        padding-right: 0;
      }
      .mat-mdc-form-field-subscript-wrapper{
        height: 5px !important;
      }
    }
  }
  .checkbox {
    margin-left: 10px;
    ::ng-deep {
      .mat-mdc-checkbox .mdc-checkbox {
        padding-bottom: 10px !important;
      }
      .mdc-checkbox{
        padding-right: 0 !important;
      }
      .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
        background-color: $primary-color;
        border: 1px solid $primary-color;
      }
      .mat-ripple{
        display: none;
      }
    }
  }
}
}

.matSelectPadding{
  @-moz-document url-prefix() {
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
      padding-top: 7px; /* Adds padding only for Firefox */
    }
  }
}
