
<div class="container-fluid" >
    <div class="row align-items-center" [ngClass]="(commonService.usrpermission.usrType == 2 || commonService.usrpermission.usrType == 1)
                ? 'justify-content-between' 
                : 'justify-content-end'">
      <!-- left side dummy preview functionality run only for admin(2) -->
      <div class="col-2 d-flex" *ngIf="commonService?.usrpermission?.usrType == 2 || commonService?.usrpermission?.usrType == 1">
        <ng-container >
          <button *ngIf="!pendingChanges.length" class="cancel_btn" style="width: auto;cursor:default">Preview Mode</button>
          <button *ngIf="pendingChanges.length > 0" class="cancel_btn" (click)="cancelChanges()">Cancel</button>
          <button *ngIf="pendingChanges.length > 0" class="add_btn" (click)="saveChanges()">Save Changes</button>
        </ng-container>
      </div>
  
    <!-- Middle Section (Filter Chips) -->
    <div class="col-7" *ngIf="dashboradService.dashboardFilterChips.length > 0">
      <div class="d-flex flex-wrap align-items-center">
        <mat-chip-listbox class="filterLabel"
          *ngFor="let chipGroup of dashboradService.dashboardFilterChips; let i = index">
          <mat-chip *ngFor="let item of chipGroup[getChipKey(i)]">
            <span>{{ item }}</span>
            <mat-icon class="close" matChipRemove matTooltip="remove" (click)="removeFilter(item, i)">cancel</mat-icon>
          </mat-chip>
        </mat-chip-listbox>
      </div>
    </div>
  
    <div class="col-3 userSelectBox">
      <div>Select Site:</div>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="dashboradService.selectedSite"  [compareWith]="compareFn" multiple>
            <mat-select-trigger >{{ getSelectedLabel() }}</mat-select-trigger>
          <mat-option *ngFor="let site of dashboradService.siteList;trackBy: trackBySiteId" (click)="selectSite(site)" [value]="site" >{{site.siteName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div cdkDropListGroup class="main_box">
        <div class="example-container" *ngFor="let site of dashboradService.displaySiteData" >
          <div class="siteName" (click)="redirectToSite(site)">
            <span>
              {{site.siteName}}
            </span>
          </div>
           <div div [id]="site.siteId+'_'+ site.usrId+'_'+site.siteName" cdkDropList [cdkDropListData]="site.userData"
            [cdkDropListConnectedTo]="[ site.siteId+'_'+ site.usrId+'_'+site.siteName]" (cdkDropListDropped)="drop($event)"
            class="example-list">
            <div class="userBox" *ngFor="let user of site.userData;trackBy: trackByUserId">
              <div [ngClass]="{'expiry': user.expired > 0,'expirySoon': user.expiredSoon > 0 && user.expired == 0}" class="imgBox"
                (click)="previewUser(user,site)" (cdkDragStarted)="onDragStarted($event)" [cdkDragData]="user" cdkDrag>
                <div class="incoming-section" *ngIf="user.suStatus == 1">
                  Incoming
                </div>
                <div class="outging-section" *ngIf="user.suStatus == 3">
                  Outgoing
                </div>
                <img [ngClass]="user.imageUrl ? 'userImg' : 'customImg'"
                  [src]="user.imageUrl ? baseUrl+user.imageUrl : 'assets/images/User02.png'" loading="lazy" decoding="async"
                  class="img-fluid" alt="userImg" >
                <div class="text-Section" [ngClass]="{'centerText': !user.roleName}">
                  <div class="userName">{{user.usrFirstname}} {{user.usrLastname}} </div>
                  <div class="role" *ngIf="user.roleName">{{user.roleName}}</div>
                </div>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
